html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

body {
  font-family: "Involve-VF", sans-serif;
  color: #493340;
  background-color: #ececec;
  letter-spacing: 0.05em;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

p {
  font-family: "Involve-VF", sans-serif;
}

@font-face {
  font-family: "Involve-VF";
  src: url("./../fonts/Involve-VF.ttf") format("truetype");
}
@font-face {
  font-family: "Involve-VF";
  src: url("./../fonts/Involve-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Involve-VF";
  src: url("./../fonts/Involve-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.copyright-text {
  font-size: 6px;
  color: #ececec;
  text-align: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main-donate-button-link {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.contact-form__field {
  margin-bottom: 10px;
}

.contact-form__span {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #000;
  margin-bottom: 4px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
}
.contact-form__input:focus, .contact-form__input:hover {
  outline: none;
  border-color: #212121;
}

.contact-input-span {
  position: relative;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus + .contact-form__icon, .contact-form__input:hover + .contact-form__icon {
  fill: #212121;
}

.contact-form__comment {
  cursor: pointer;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__comment::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__comment:focus, .contact-form__comment:hover {
  outline: none;
  border-color: #000;
}

.contact-form__button {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  margin: auto;
  color: #fff;
  background: #499573;
  display: block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.contact-form__button:hover, .contact-form__button:focus {
  background-color: var(--button-accent-color);
  color: var(--white-color);
}

.contact-form-checkbox__label {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
}

.contact-form-checkbox-icon {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #212121;
  border-radius: 2px;
  vertical-align: sub;
}

.contact-form-checkbox__input:checked + .contact-form-checkbox-icon {
  background-color: #212121;
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: tomato;
}

.contact-form-checkbox__input:hover + .contact-form-checkbox-icon,
.contact-form-checkbox__input:focus + .contact-form-checkbox-icon {
  border-color: azure;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* checkbox */
.contact-form-checkbox__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #000;
}

.contact-form-checkbox__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration-line: underline;
}

.modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px 40px;
  z-index: 12;
}
@media screen and (min-width: 785px) {
  .modal {
    top: 50%;
  }
}
@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 530px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  fill: #000;
  z-index: 12;
}

.modal-close-btn-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
  fill: #000;
}

.nav-link {
  color: #493340;
}

.header-logo-img {
  width: 100%;
  max-width: 60px;
  min-width: 25px;
}

.header-list {
  display: none;
  position: relative;
}

.header {
  width: 100%;
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.mobile-menu-open-btn {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: auto;
  margin-right: -10px;
  align-items: center;
  background-color: transparent;
  border: none;
  line-height: 0;
  cursor: pointer;
}
.mobile-menu-open-btn:hover, .mobile-menu-open-btn:focus {
  fill: yellowgreen;
}
.mobile-menu-open-btn .mobile-menu-list {
  margin-top: 48px;
}

.mobile-menu-open-btn__icon {
  fill: #fff;
}

.header-call-button {
  margin-top: 10px;
  border-radius: 15px;
  height: 30px;
  min-width: 150px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.06em;
  background-color: #c74b57;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  white-space: nowrap;
}
.header-call-button:hover, .header-call-button:focus {
  background-color: #e62034;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
}

.header-call-button-link {
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  direction: ltr;
}

.header-donate-button {
  display: none;
}

.header-main-text {
  letter-spacing: 0;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-family: inherit;
  color: #ffffff;
  text-shadow: #493340 1px 0 0px, #493340 0 1px 0px, #493340 -1px 0 0px, #493340 0 -1px 0px;
}

.header-logo {
  margin-top: 5px;
  display: flex;
}

.narrow {
  display: flex;
}

.header-call-button-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 6px;
  line-height: 1.87;
  text-align: center;
}

.mobile-menu-link {
  font-family: inherit;
}

.header-main-text {
  font-family: inherit;
  font-style: italic;
  font-weight: 600;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-logo-img {
    width: 100%;
    max-width: 60px;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .nav-link {
    text-align: center;
    color: #493340;
    font-weight: 700;
  }
  .nav-link:hover, .nav-link:focus {
    color: #fff;
  }
  .header-call-button {
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.06em;
    background-color: #c74b57;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;
    white-space: nowrap;
  }
  .header-call-button:hover, .header-call-button:focus {
    background-color: #e73042;
  }
  .header-call-button-link {
    font-family: inherit;
    color: #ffffff;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
  }
  .header-call-button-text {
    font-family: inherit;
    font-weight: 400;
    font-size: 6px;
    line-height: 1.87;
    text-align: center;
    white-space: nowrap;
  }
  .header-donate-button {
    margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
    height: 30px;
    min-width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    background-color: #3d7097;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;
  }
  .header-donate-button:hover, .header-donate-button:focus {
    background-color: #11b470;
  }
  .header-donate-button-link {
    font-family: inherit;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-image: none;
  }
  .narrow {
    direction: rtl;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .header-list {
    display: flex;
  }
  .header-nav {
    display: flex;
    direction: ltr;
  }
  .nav-item {
    color: #ffffff;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
  }
  .header-list {
    justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-logo-img {
    max-width: 120px;
  }
  .header-main-text {
    margin-right: auto;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 40px;
    margin-right: 20px;
  }
  .nav-link {
    text-align: center;
    color: #493340;
    font-size: 20px;
    font-weight: 700;
  }
  .nav-link:hover, .nav-link:focus {
    color: #fff;
  }
  .header-call-button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: 50px;
    min-width: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c74b57;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;
    white-space: nowrap;
  }
  .header-call-button:hover, .header-call-button:focus {
    background-color: #3d7097;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  }
  .header-call-button-link {
    font-family: inherit;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .header-call-button-text {
    font-family: inherit;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.87;
    text-align: center;
    white-space: nowrap;
  }
  .header-donate-button {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
    height: 50px;
    min-width: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    font-size: 14px;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    background-color: #3d7097;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;
  }
  .header-donate-button:hover, .header-donate-button:focus {
    background-color: #3d7097;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  }
  .header-call-button-link {
    font-family: inherit;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .header-donate-button-link {
    font-family: inherit;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-image: none;
  }
  .narrow {
    direction: rtl;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .header-list {
    display: flex;
  }
  .header-nav {
    display: flex;
    direction: ltr;
    white-space: nowrap;
  }
  .nav-item {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .header-list {
    justify-content: center;
    margin-top: 60px;
  }
  .header-contact-list {
    display: block;
  }
  .header-contact__item {
    display: flex;
    justify-content: flex-start;
  }
}
.footer {
  background-color: #775167;
}

.footer-logo-image {
  padding-top: 30px;
  width: 60px;
}

.footer-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-donate-button-link {
  font-family: inherit;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-align: center;
}

.footer-donate-button {
  margin-top: 30px;
  border-radius: 20px;
  height: 30px;
  min-width: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.06em;
  background-color: #3d7097;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  white-space: nowrap;
}
.footer-donate-button:hover, .footer-donate-button:focus {
  background-color: #3d7097;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
}

.footer-join-button {
  margin-top: 10px;
  border-radius: 20px;
  height: 30px;
  min-width: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.06em;
  background-color: #499573;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  white-space: nowrap;
}
.footer-join-button:hover, .footer-join-button:focus {
  background-color: #3d7097;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
}

.footer-contacts-subtitle {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-contact-adress {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-contact__item {
  margin-bottom: 15px;
}

.footer-contact__adress-link,
.footer-contact__mail-link,
.footer-contact__tel-link {
  color: #fff;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
}

.footer-socials-subtitle {
  font-family: inherit;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px;
}

.footer-socials-list {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: center;
}

.footer-socials-icon {
  height: 26px;
  width: 26px;
  fill: #fff;
}

.footer-socials {
  padding-bottom: 20px;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-logo-image {
    width: 100px;
    padding-top: 0;
  }
  .footer-donate-button {
    margin-top: 0;
  }
}
.general-main {
  background-image: url(./../images/main-new.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  min-height: 320px;
}

.general-main-title {
  display: flex;
  padding-top: 220px;
  font-family: inherit;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}

.general-main-text {
  font-family: inherit;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: #493340;
  margin-bottom: 10px;
}

.general-main-text-bold {
  font-weight: 600;
}

.general-hero-subtitle {
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  font-size: 23px;
  margin-bottom: 20px;
}

.general-hero-text {
  letter-spacing: 0.08em;
  font-family: inherit;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: #493340;
  margin-top: 15px;
  margin-bottom: 10px;
}

.general-hero-extra-subtitle {
  font-size: 19px;
  font-weight: 600;
  color: #493340;
  text-align: center;
}

.background-color {
  background-color: #d9d9d9;
  padding-top: 5px;
  padding-bottom: 30px;
}

.general-help__item-image {
  width: 100px;
}

.general-help-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.general-help-subtitle {
  line-height: 1.5;
  font-size: 19px;
  font-weight: 600;
  color: #493340;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.general-help-extra-subtitle {
  font-family: inherit;
  font-size: 17px;
  font-weight: 600;
  color: #493340;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.general-help-text-bold {
  font-weight: 600;
}

.general-help-text {
  font-family: inherit;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: #493340;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #afcdcd;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.general-help-item {
  background-color: #afcdcd;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  max-width: 350px;
  padding-right: 10px;
  padding-left: 10px;
}

.general-help__item-image {
  padding-top: 15px;
  padding-bottom: 20px;
}

.general-help__item-text {
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
}

.main-donate-button {
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  padding: 5px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #3d7097;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
}
.main-donate-button:hover, .main-donate-button:focus {
  background-color: #3d7097;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
}

.general-main-text {
  margin-top: 15px;
  text-align: center;
}

.donate-button {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .general-hero-subtitle {
    font-size: 32px;
  }
  .general-hero-picture-and-text-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .general-hero-img {
    border-radius: 5px;
  }
  .main-donate-button {
    display: none;
    font-weight: 700;
    font-size: 14px;
  }
  .general-main {
    min-height: 420px;
  }
  .general-main-title {
    padding-top: 350px;
  }
  .general-main-text {
    font-size: 15px;
  }
  .general-help-item {
    text-align: start;
    max-width: 380px;
    width: calc((100% - 60px) / 2);
    margin: 15px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .general-help-list {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    /* align-content: center; */
    flex-direction: row;
  }
  .general-hero-text-container {
    width: 50%;
  }
  .general-hero-img-container {
    width: 50%;
  }
  .help-background-color {
    background-color: #d9d9d9;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .main-donate-button {
    display: none;
    font-weight: 700;
    font-size: 20px;
  }
  .help-background-color {
    background-color: #d9d9d9;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-top: 50px;
  }
  .general-main {
    min-height: 700px;
  }
  .general-main-title {
    margin-top: auto;
  }
  .general-main-title {
    padding-top: 200px;
    margin-bottom: 30px;
    display: flex;
    font-family: inherit;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    color: #fff;
  }
  .general-help-list {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    flex-direction: row;
    margin-top: 50px;
  }
  .general-help-item {
    text-align: start;
    max-width: 380px;
    width: calc((100% - 60px) / 2);
    margin: 15px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .general-hero-picture-and-text-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .general-hero-subtitle {
    font-size: 30px;
  }
  .general-hero-extra-subtitle {
    font-size: 21px;
  }
  .general-main-text {
    font-size: 18px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  .general-hero-text {
    font-size: 16px;
    max-width: 700px;
  }
  .general-help-subtitle {
    font-size: 30px;
    margin-top: 20px;
  }
  .general-help-text {
    font-size: 18px;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .general-help__item-text {
    font-size: 19px;
  }
  .general-help__item-image {
    width: 150px;
  }
  .general-hero-img {
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: auto;
    width: 80%;
    border-radius: 5px;
  }
  .general-hero-text-container {
    width: 50%;
  }
  .general-hero-img-container {
    width: 50%;
  }
  .general-help-text {
    padding: 20px;
  }
}
.current {
  color: #fff;
}
.current:hover, .current:focus {
  color: #493340;
}

.current-dropdown {
  color: #fff;
  background-color: #493340;
}

.lunasima-regular {
  font-family: "Lunasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lunasima-bold {
  font-family: "Lunasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */